*{
	margin: 0;
	padding: 0;
}

.logo{
	background-size: 50% 50%;
	height: auto;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
	right: 10%;
}

body {


	font-family: arial;
}
nav {
	background-color:#884dff;
	padding: 0;
	text-align: center;
}

h2{
	color: white;
	margin-bottom: 0cm;
	margin-top: 0px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #884dff;
}

.nav li a {
	color: white;
}

.nav li {
	display: inline-block;
	margin: 0;
	padding: 15px;
	color: white;

}

.harga p{	
	position: absolute;
	margin: auto;
	top: 50%;
	  width: 50%;
	color: white;
	font-size: large;
}

img {
	 background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: large;
	text-align: center;
	color: #e6e6e6;
	font-style: "Lucida Console", Monaco, monospace;
}

.ship a {
	position: absolute;
	top: 60%;
	width: 100%;
	text-align: center;
	color: #e6e6e6;
	font-size: large;
}